html, body, #root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  color: #edf0f1 ;
  font-size: 3vh;
  padding-left: 0.83vh;
}

header li, header a {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 2vh;
  color: #edf0f1 ;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:  6vh;
  padding:  0.8vh;
  background-color: #24252A;
}

.divider {
  border-top: 4px solid black;
}

.verticalDivider {
  border-Left: 0.41vh solid white;
  height: 5vh;
}

.navigation {
  margin-right: 150px;
}

@media (max-width: 1000px) {
  .navigation {
    margin: 0; 
  }
}

.navLinks li{
  display: inline-block; 
  padding: 0vh 2.1vh;
}

.navLinks li a:hover{
  color: #0088a9;
  cursor: pointer;
}

.navLinks div {
  display: inline-block;
  border-Left: 0.25vh solid #edf0f1;
  height: 2.2vh;
  margin-bottom: -0.4vh;
}
